<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Patient Login</h1>
<form action="login" method='Post'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type="text" name="username" value=""></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" value=""></td>
        </tr>
        <tr>
            <td>
                <input name="submit" type="submit" value="Login">
            </td>
        </tr>
    </table>
</form>
<a ref="/">Home</a>
</body>
</html>